subject = "[FAQ] - You have received new Question"
layout = "system"
==
Hi,

you have just received new Question in Q/A section.

Question:
{{ question }}


Please log in to to your site backend to answer the question:

BACKEND LINK HERE

==
<p>Hi,
</p>
<p>you have just received new Question in your Q/A section.
</p>
<p>Question:
</p>
<p>{{ question }}
</p>
<p>Please log in to to your site backend to answer the question:
</p>
<p><a href="https://yoursite.com">Backend Link Here</a>
</p>
<p><br>
</p>