subject = "[FAQ] - Your question has been answered."
==

Hello,

You question:

{{question|md}}

has been answered and published.
Please see this link:
https://mysite.com/faq/#question-{{questionid}}

You can also read the answer here:

{{answer|md}}

Faq System


==
<p>Hello,
</p>
<p>You question:
</p>
<p>{{question|md}}
</p>
<p>has been answered and published.<br>Please see this link:<br><a href="https://mysite.com.com/faq/#question-{{questionid}}">https://mysite.com/faq/#question-{{questionid}}</a><br>
</p>
<p>You can also read the answer here:
</p>
<p>{{answer|md}}<br><br>
</p>
<p>Faq System
</p>
